In [1]:
import pandas as pd

from utils import get_sequences
from itertools import islice

In [5]:
# df = pd.read_csv('data/cagi4_mpra/4-eQTL-causal_SNPs_sample_v2.txt', sep='\t')
df = pd.read_csv('data/cagi4_mpra/train_df.csv')

In [6]:
# if the refallele is one character long, it should be 75[1][74]    1 0
# if the refallele is two characters long, it should be 74[2][74]   2 1
# if the refallele is three characters long, it should be 74[3]73   3 1
# if it's four characters long, it should be 73[4][73]              4 2

# start_ind is in fact 76 - ((len(RefAllele)+1)// 2)

In [7]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,ID,chr,pos,RefAllele,AltAllele,C.A.ctrl.mean,C.A.exp.mean,...,Regulatory_Hit,emVar_Hit,eQTL_lead,eQTL_gene,eQTL_beta,eQTL_tStat,eQTL_P,sequence,ref_sequence,alt_sequence
0,0,0,0,chr1:183160326:I,1,183160326,G,GAT,169.349792,142.237956,...,0,0,chr1:183160326:I,ENSG00000058085,0.128792,6.503906,2.660000e-10,NaN,CAAACAATATTTTTACAATAAAGTAATTGAGAAAGTACCCTATAAT...,CAAACAATATTTTTACAATAAAGTAATTGAGAAAGTACCCTATAAT...
1,1,1,1,chr1:218193345:D,1,218193345,TC,T,546.915129,510.274157,...,0,0,chr1:218193345:D,ENSG00000223375,0.181454,7.312115,1.760000e-12,NaN,GGCTTCACACTGTTTTTATTAGGGCTTATTGTTTGGAAAATTAAGT...,GGCTTCACACTGTTTTTATTAGGGCTTATTGTTTGGAAAATTAAGT...
2,2,2,2,chr1:226329182:I,1,226329182,T,TA,117.934774,96.640336,...,0,0,chr1:226329182:I,ENSG00000182827,-0.081298,-6.925068,2.050000e-11,NaN,CCTTCAACTCCTGTGCTTAAGTGATCCTCTGGCCTCTGCCTCCCTA...,CCTTCAACTCCTGTGCTTAAGTGATCCTCTGGCCTCTGCCTCCCTA...
3,3,3,3,chr1:58999158:D,1,58999158,TA,T,178.517618,167.443939,...,0,0,chr1:58999158:D,ENSG00000162600,0.099132,7.687867,1.480000e-13,NaN,GTATTAAAATTATGAATGGGAAGCCACATATACTAAAAAGCTCAGT...,GTATTAAAATTATGAATGGGAAGCCACATATACTAAAAAGCTCAGT...
4,4,4,4,chr12:104337222:D,12,104337222,GTAAT,G,86.668936,121.945143,...,0,0,chr12:104337222:D,ENSG00000204954,-0.112888,-7.578777,3.070000e-13,NaN,AAGTTATTTTGTGAACAAATTAAGCTGCAGCTGGTTACTTTGTAAC...,AAGTTATTTTGTGAACAAATTAAGCTGCAGCTGGTTACTTTGTAAC...

In [3]:
ref_sequences, alt_sequences = get_sequences(df, which_set='cagi4')

In [6]:
# For each variant, a pair of 150-nt candidate regulatory sequence oligonucleotides was synthesized
# with the variant located at the central position (i.e. SNP at position 76).
sequences[0][75], sequences[1][75], sequences[2][75], sequences[3][75]

('G', 'C', 'T', 'A')

In [4]:
df['ref_sequence'] = ref_sequences
df['alt_sequence'] = alt_sequences
df.to_csv('data/cagi4_mpra/train_df.csv')